<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浏览器兼容检测</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Xenon Boostrap Admin Panel">
    <meta name="author" content="">
</head>
<body>
<div>
    <h3>您的浏览器存在兼容性问题，请使用更高级别浏览器</h3>
    
    <br>
    <h3>推荐浏览器</h3>
</div>


<strong class="num"><a href="http://www.firefox.com.cn/">火狐浏览器</a></strong><br>
    <br>
<strong class="num"><a href="https://www.google.cn/chrome/">谷歌浏览器</a></strong><br>

    </div>
</div>


</div>


</body>
</html>
