<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="stylesheet" href="__PUBLIC__/assets/css/400700.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/xenon-core.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/xenon-components.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/custom.css">

    <script src="__PUBLIC__/assets/js/jquery-1.11.1.min.js"></script>
</head>
<body>

<include file="Index/topbaruse" />

<div class="panel panel-default">
   <div class="panel-heading">
       <!--<h3 class="panel-title">Adjustable Responsive Table</h3>-->
       <div class="panel-options">
           <a href="__SELF__" data-toggle="reload">
               <i class="fa-rotate-right"></i>
           </a>
       </div>
   </div>
  <div class="panel-body">
                                   <!--文件-->
                                   <div class="panel panel-default">
                                       <div class="panel-heading">
                                           <h3 class="panel-title">A个数导入</h3>
                                           <div class="panel-options">
                                               <a href="#" data-toggle="reload">
                                                   <i class="fa-rotate-right"></i>
                                               </a>
                                           </div>
                                       </div>


                                       <div class="panel-body">

                                           <form role="form" class="form-horizontal">


                                               <div class="form-group">
                                                   <label class="col-sm-2 control-label" for="field-4"></label>

                                                   <div style="padding:10px;10px;10px;10px;10px">
                                                       <input type="file" class="form-control" id="field-4">
                                                   </div>
                                               </div>

                                           </form>

                                       </div>
                                   </div>


                                   <form class="form-inline" role="form">



                                       <div class="form-group">
                                           <button type="submit" class="btn btn-success">上传</button>
                                           <button type="reset" class="btn btn-white">提交</button>
                                       </div>


                                   </form>
                               </div>




                               <div align="center">
                                   <a href="www.baidu.com" ><span style="color:#090"><strong>点此处下载考生分数模板</strong></span></a>
                               </div>


</div>













                          
                             
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>

</body>
</html>
