

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style/admin_style.css" />
</head>
<body>
<div class="wrap"><div class="admin_info mb10" style="display: block;">

	<h2>网上报名时间：2017年2月21日至3月6日下午4：00</h2>

	<h4 class="h1">欢迎信息</h4>


	<div class="legend"><p class="style1">
        浙江农林大学“三位一体”综合评价招生网上报名流程说明</p>
        <p class="style1">&nbsp;
            </p>
        &nbsp;<b>一.考生注册：</b><br />
        考生必须先登录浙江农林大学&ldquo;三位一体&rdquo;综合评价招生网上报名系统（http://swyt.zafu.edu.cn）并选择&ldquo;注册&rdquo;，进入注册页面后务必按要求如实填写个人信息（身份证号码注册后不可更改），并设置密码完成注册。身份证号码和密码是登录报名系统的唯一凭证，请考生牢记，切勿泄漏，因此而造成的后果，由考生自己负责。<br />
        <br />
        &nbsp;<b>二.完善个人信息：</b><br />
        &nbsp;&nbsp;&nbsp;&nbsp; 登录成功之后，请认真阅读填写说明，并且根据报名首页上的进度进行报名，首先必须完善个人信息，分为以下步骤。<br />
        &nbsp;1、完善个人注册信息<br />
        &nbsp;&nbsp;&nbsp;&nbsp; 注册时填写的个人注册信息，个人的家庭与中学信息，填写个人学科竞赛、语言文学和艺术体育类特长奖项，填写完成后点击页面底部的“确认个人信息完善”按钮，则可以开始报名。<br />
        &nbsp;2、报名前，可以多次登录报名系统填写和修改个人信息，但是报名后进入初审阶段不能修改。<br />
        &nbsp;&nbsp;&nbsp;&nbsp; 上传个人照片时请注意：<br />
        &nbsp;&nbsp;&nbsp;&nbsp; ·照片将用于制作准考证，须确保清晰。&nbsp;<br />
        &nbsp;&nbsp;&nbsp;&nbsp; ·须为近期免冠证件照。&nbsp;<br />
        &nbsp;&nbsp;&nbsp;&nbsp; ·照片分辨率为480*640像素以上，大小不能超过200K。&nbsp;<br />
        <br />
        &nbsp;三<b>、三位一体报名：</b><br />
        &nbsp;&nbsp;&nbsp;&nbsp;选择自己的报名的测试大类，确定报名。考生打印报名表，学校审核报名资格。报名表必须使用A4纸打印报名表，由中学校长签名并加盖公章后连同其他相关报名材料使用邮政特快专递（EMS）于截止日期前寄出，收件人：浙江农林大学招生办，电话：0571-63730908，地址：杭州临安市环城北路88号浙江农林大学招生办，邮编311300。 <br />
        &nbsp;&nbsp;<br />
        &nbsp;<b>四、查询信件、初审情况：</b><br />
        &nbsp;&nbsp;&nbsp;&nbsp;我校将通过本报名系统将申请材料查收确认，书面评审情况，考试安排通知等重要信息及时反馈给学生。<br />
        &nbsp;&nbsp;<br />
        &nbsp;<b>五、打印综合测试准考证、综合测试成绩查询：</b><br />
        &nbsp;&nbsp;&nbsp;&nbsp;通过书面评审且网上缴费成功的考生可以通过本系统打印综合测试准考证。综合测试结束后，考生可在本系统查询本人综合测试成绩。<br />
        <p>点击打印按钮，需要一定的时间生成pdf文档。如无法正常打开生成的pdf文档，请点击<a href="__PUBLIC__/AdobeReader.exe" target="_blank"><b><font color="#FF0000">此处下载 Adobe Reader</font></b></a>
        &nbsp;</div>
</body>
</html>
