HTML {
	FONT-SIZE: 12px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
EM {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
STRONG {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
TH {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
INPUT {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
BUTTON {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
TEXTAREA {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
SELECT {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
INPUT {
	
}
BUTTON {
	
}
TEXTAREA {
	
}
SELECT {
	
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
TH {
	TEXT-ALIGN: left
}
TD {
	TEXT-ALIGN: left; WORD-WRAP: break-word; WORD-BREAK: break-all
}
TH {
	TEXT-ALIGN: left; WORD-WRAP: break-word; WORD-BREAK: break-all
}
DIV {
	TEXT-ALIGN: left; WORD-WRAP: break-word; WORD-BREAK: break-all
}
FORM {
	DISPLAY: inline
}
* {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
.cc:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.cc {
	DISPLAY: inline-block
}
* HTML .cc {
	HEIGHT: 1%
}
.cc {
	DISPLAY: block
}
.c {
	WIDTH: 0px; FONT: 0px/0px Arial; HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
.b {
	FONT-WEIGHT: 700
}
.w {
	WHITE-SPACE: nowrap
}
.tal {
	TEXT-ALIGN: left
}
.tac {
	TEXT-ALIGN: center
}
.tar {
	TEXT-ALIGN: right
}
.fr {
	FLOAT: right
}
.fl {
	FLOAT: left
}
.pr {
	POSITION: relative
}
.cp {
	CURSOR: pointer
}
.vt {
	VERTICAL-ALIGN: top
}
.vt TD {
	VERTICAL-ALIGN: top
}
.f9 {
	FONT-SIZE: 10px
}
.f10 {
	FONT-SIZE: 11px
}
SMALL {
	FONT-SIZE: 11px
}
.small {
	FONT-SIZE: 11px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.f20 {
	FONT-SIZE: 20px
}
.f24 {
	FONT-SIZE: 24px
}
.fn {
	FONT-WEIGHT: normal
}
.fn A {
	FONT-WEIGHT: normal
}
BODY {
	BACKGROUND: #fff; COLOR: #666; _width: 98%
}
.wrap {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
A {
	COLOR: #336699; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.line {
	TEXT-DECORATION: underline
}
.mt5 {
	MARGIN-TOP: 5px
}
.mb5 {
	MARGIN-BOTTOM: 5px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.mb15 {
	MARGIN-BOTTOM: 15px
}
.mb20 {
	MARGIN-BOTTOM: 20px
}
.mr5 {
	MARGIN-RIGHT: 5px
}
.mr10 {
	MARGIN-RIGHT: 10px
}
.mr20 {
	MARGIN-RIGHT: 20px
}
.p_lr_10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.p10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.p15 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.lh_18 {
	LINE-HEIGHT: 18px; HEIGHT: 18px; OVERFLOW: hidden
}
.input_color {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.input_time {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.expand {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.hide {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.lower {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.btn_add {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.btn_add I {
	BACKGROUND: url(index_icon.png) 0px 0px
}
SPAN.btn {
	BACKGROUND: url(index_icon.png) 0px 0px
}
SPAN.bt {
	BACKGROUND: url(index_icon.png) 0px 0px
}
SPAN.btn SPAN {
	BACKGROUND: url(index_icon.png) 0px 0px
}
SPAN.bt SPAN {
	BACKGROUND: url(index_icon.png) 0px 0px
}
SPAN.btn2 {
	BACKGROUND: url(index_icon.png) 0px 0px
}
SPAN.bt2 {
	BACKGROUND: url(index_icon.png) 0px 0px
}
SPAN.btn2 SPAN {
	BACKGROUND: url(index_icon.png) 0px 0px
}
SPAN.bt2 SPAN {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.td_bgB TD {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.del_img {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.zt_stylebg {
	BACKGROUND: url(index_icon.png) 0px 0px
}
.tip_wind DT {
	BACKGROUND: url(index_icon.png) 0px 0px
}
TEXTAREA {
	FONT: 12px/12px Arial; VERTICAL-ALIGN: middle
}
INPUT {
	FONT: 12px/12px Arial; VERTICAL-ALIGN: middle
}
TEXTAREA {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; PADDING-TOP: 3px
}
.textarea {
	LINE-HEIGHT: 1.3; WIDTH: 332px; BACKGROUND: #fff; HEIGHT: 62px; OVERFLOW: auto
}
.input {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #fff; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; PADDING-TOP: 2px
}
.input:hover {
	BORDER-BOTTOM: #23a6dd 1px solid; BORDER-LEFT: #23a6dd 1px solid; BORDER-TOP: #23a6dd 1px solid; BORDER-RIGHT: #23a6dd 1px solid
}
.textarea:hover {
	BORDER-BOTTOM: #23a6dd 1px solid; BORDER-LEFT: #23a6dd 1px solid; BORDER-TOP: #23a6dd 1px solid; BORDER-RIGHT: #23a6dd 1px solid
}
.input_img:hover {
	BORDER-BOTTOM: #23a6dd 1px solid; BORDER-LEFT: #23a6dd 1px solid; BORDER-TOP: #23a6dd 1px solid; BORDER-RIGHT: #23a6dd 1px solid
}
.input_wa {
	WIDTH: 152px
}
.input_wb {
	WIDTH: 332px
}
.input_wc {
	WIDTH: 67px
}
.input_wd {
	PADDING-LEFT: 1px; WIDTH: 15px
}
.input_we {
	WIDTH: 25px
}
.input_img {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 154px; PADDING-RIGHT: 3px; DISPLAY: inline-block; BACKGROUND: #fff; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; PADDING-TOP: 0px
}
.input_img I {
	TEXT-INDENT: -2000em; MARGIN: 3px 0px 0px; WIDTH: 13px; DISPLAY: block; FLOAT: right; HEIGHT: 13px; OVERFLOW: hidden; CURSOR: pointer
}
.input_img INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; WIDTH: 136px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 2px; _height: 14px
}
.input_color {
	BACKGROUND-POSITION: -40px -30px
}
.input_time {
	BACKGROUND-POSITION: -20px -30px
}
INPUT.bt {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #e1e1e1 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #e4e4e4; BORDER-TOP: #e1e1e1 1px solid; CURSOR: pointer; BORDER-RIGHT: #999999 1px solid; PADDING-TOP: 2px
}
SELECT {
	VERTICAL-ALIGN: middle
}
.select_wa {
	WIDTH: 160px
}
.select_wb {
	WIDTH: 81px
}
.select_wc {
	WIDTH: 342px
}
SPAN.btn {
	PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 2px; ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle; CURSOR: pointer; PADDING-TOP: 0px; _display: inline
}
SPAN.bt {
	PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 2px; ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle; CURSOR: pointer; PADDING-TOP: 0px; _display: inline
}
SPAN.btn2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 2px; ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle; CURSOR: pointer; PADDING-TOP: 0px; _display: inline
}
SPAN.bt2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 2px; ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle; CURSOR: pointer; PADDING-TOP: 0px; _display: inline
}
SPAN.btn BUTTON {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: auto; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; TEXT-DECORATION: none; _width: 0
}
SPAN.bt BUTTON {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: auto; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; TEXT-DECORATION: none; _width: 0
}
SPAN.btn2 BUTTON {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: auto; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; TEXT-DECORATION: none; _width: 0
}
SPAN.bt2 BUTTON {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: auto; DISPLAY: block; WHITE-SPACE: nowrap; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: middle; OVERFLOW: visible; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; TEXT-DECORATION: none; _width: 0
}
SPAN.btn {
	BACKGROUND-POSITION: right -150px
}
SPAN.bt {
	BACKGROUND-POSITION: right -150px
}
SPAN.btn SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 11px; DISPLAY: block; BACKGROUND-POSITION: 0px -150px; PADDING-TOP: 0px
}
SPAN.bt SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 11px; DISPLAY: block; BACKGROUND-POSITION: 0px -150px; PADDING-TOP: 0px
}
SPAN.btn BUTTON {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; MARGIN: 0px -15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; HEIGHT: 27px; FONT-SIZE: 14px; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
SPAN.bt BUTTON {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; MARGIN: 0px -15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; HEIGHT: 27px; FONT-SIZE: 14px; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
SPAN.btn BUTTON {
	COLOR: #ffffff
}
SPAN.btn2 BUTTON {
	COLOR: #ffffff
}
SPAN.bt BUTTON {
	COLOR: #555555
}
SPAN.bt2 BUTTON {
	COLOR: #555555
}
SPAN.bt {
	BACKGROUND-POSITION: right -180px
}
SPAN.bt SPAN {
	BACKGROUND-POSITION: left -180px
}
SPAN.btn2 {
	BACKGROUND-POSITION: right -210px
}
SPAN.bt2 {
	BACKGROUND-POSITION: right -210px
}
SPAN.btn2 SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND-POSITION: 0px -210px; PADDING-TOP: 0px
}
SPAN.bt2 SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND-POSITION: 0px -210px; PADDING-TOP: 0px
}
SPAN.btn2 BUTTON {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; MARGIN: 0px -9px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; HEIGHT: 21px; PADDING-TOP: 0px
}
SPAN.bt2 BUTTON {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; MARGIN: 0px -9px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; HEIGHT: 21px; PADDING-TOP: 0px
}
SPAN.bt2 {
	BACKGROUND-POSITION: right -235px
}
SPAN.bt2 SPAN {
	BACKGROUND-POSITION: left -235px
}
.btn_add {
	LINE-HEIGHT: 21px; MARGIN-TOP: 3px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND-POSITION: right -260px; FLOAT: left; HEIGHT: 19px; COLOR: #729c01; OVERFLOW: hidden
}
.btn_add I {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-POSITION: 0px -260px; FLOAT: left; HEIGHT: 19px; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.btn_add:hover {
	TEXT-DECORATION: none
}
.btn3 {
	PADDING-BOTTOM: 0.1em; LINE-HEIGHT: 130%; BORDER-RIGHT-WIDTH: 1px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; FONT-SIZE: 14px; OVERFLOW: visible; BORDER-LEFT-WIDTH: 1px; CURSOR: pointer; PADDING-TOP: 0.1em; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px
}
.bt3 {
	PADDING-BOTTOM: 0.1em; LINE-HEIGHT: 130%; BORDER-RIGHT-WIDTH: 1px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; FONT-SIZE: 14px; OVERFLOW: visible; BORDER-LEFT-WIDTH: 1px; CURSOR: pointer; PADDING-TOP: 0.1em; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px
}
.btn3 {
	BORDER-BOTTOM-COLOR: #ff5500; BORDER-TOP-COLOR: #ff5500; MARGIN: 0px 3px; BACKGROUND: #ff5500; COLOR: #fff; BORDER-RIGHT-COLOR: #ff5500; BORDER-LEFT-COLOR: #ff5500
}
.bt3 {
	BORDER-BOTTOM-COLOR: #e4e4e4; BORDER-TOP-COLOR: #e4e4e4; MARGIN: 0px 3px; BACKGROUND: #f0f0f0; COLOR: #333; BORDER-RIGHT-COLOR: #e4e4e4; BORDER-LEFT-COLOR: #e4e4e4
}
.pages {
	LINE-HEIGHT: 18px
}
.pages A {
	DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 3px
}
.pages B {
	DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 3px
}
.pages .pagesone {
	DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 3px
}
.pages A {
	BORDER-BOTTOM: #d5e6ed 1px solid; BORDER-LEFT: #d5e6ed 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND: #ffffff; BORDER-TOP: #d5e6ed 1px solid; BORDER-RIGHT: #d5e6ed 1px solid; PADDING-TOP: 0px
}
.pages B {
	BORDER-BOTTOM: #1b72af 1px solid; BORDER-LEFT: #1b72af 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND: #1b72af; COLOR: #ffffff; BORDER-TOP: #1b72af 1px solid; BORDER-RIGHT: #1b72af 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.pages A:hover {
	BORDER-BOTTOM: #1b72af 1px solid; BORDER-LEFT: #1b72af 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND: #1b72af; COLOR: #ffffff; BORDER-TOP: #1b72af 1px solid; BORDER-RIGHT: #1b72af 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.pages .pagesone {
	BORDER-BOTTOM: #d5e6ed 1px solid; BORDER-LEFT: #d5e6ed 1px solid; PADDING-RIGHT: 1px; FONT: 11px/18px Verdana; BACKGROUND: #ffffff; HEIGHT: 18px; BORDER-TOP: #d5e6ed 1px solid; BORDER-RIGHT: #d5e6ed 1px solid
}
.pages INPUT {
	BORDER-BOTTOM: #d5e6ed 1px solid; BORDER-LEFT: #d5e6ed 1px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 10px/12px Verdana; FLOAT: left; HEIGHT: 14px; BORDER-TOP: #d5e6ed 1px solid; BORDER-RIGHT: #d5e6ed 1px solid; PADDING-TOP: 0px
}
.pages .pagesone SPAN {
	MARGIN: 0px 5px; FLOAT: left
}
.pages .c {
	WIDTH: 1px
}
.pages BUTTON {
	BORDER-BOTTOM: #a6cbe7 1px solid; BORDER-LEFT: #a6cbe7 1px solid; LINE-HEIGHT: 12px; MARGIN: 1px 0px 0px 1px; BACKGROUND: #d5e6ed; FLOAT: left; HEIGHT: 16px; COLOR: #1b72af; BORDER-TOP: #a6cbe7 1px solid; CURSOR: pointer; BORDER-RIGHT: #a6cbe7 1px solid
}
.nav3 {
	
}
.nav3 UL {
	
}
.nav3 LI {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.nav3 LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 15px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 15px; DISPLAY: inline-block; BACKGROUND: #dbe8f6; FLOAT: left; HEIGHT: 25px; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.nav3 LI A:hover {
	BACKGROUND: #6392c2; COLOR: #fff; TEXT-DECORATION: none
}
.nav3 .current A {
	BACKGROUND: #336699; COLOR: #fff
}
.nav4 {
	BORDER-TOP: #88afd5 1px solid; PADDING-TOP: 5px
}
.nav4 LI {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 2px
}
.nav4 LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 25px; PADDING-TOP: 0px
}
.nav4 LI A:hover {
	TEXT-DECORATION: none
}
.nav4 .current A {
	BACKGROUND-COLOR: #f1f1f1; FONT-WEIGHT: 700; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px
}
.admin_tips {
	BORDER-BOTTOM: #f1e2b5 1px solid; BORDER-LEFT: #f1e2b5 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #fff8e3; BORDER-TOP: #f1e2b5 1px solid; BORDER-RIGHT: #f1e2b5 1px solid; PADDING-TOP: 8px
}
.h1 {
	BORDER-BOTTOM: #deeaf7 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #eaf2fa; HEIGHT: 25px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: #cbdaea 1px solid; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.h {
	BORDER-BOTTOM: #deeaf7 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #eaf2fa; HEIGHT: 25px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: #cbdaea 1px solid; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.h SELECT {
	FONT-SIZE: 12px; FONT-WEIGHT: 100
}
.h INPUT {
	FONT-SIZE: 12px; FONT-WEIGHT: 100
}
.h1 .linka {
	FONT-SIZE: 12px; FONT-WEIGHT: 100
}
.h2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; HEIGHT: 25px; FONT-SIZE: 14px; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.admin_info {
	DISPLAY: none
}
.legend {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.8; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 5px
}
.legend OL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 1.8em; PADDING-TOP: 5px
}
.legend OL LI {
	LIST-STYLE-TYPE: decimal
}
.legend UL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 1.3em; PADDING-TOP: 5px
}
.legend UL LI {
	LIST-STYLE-TYPE: circle
}
.legend .note {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.legend .note SPAN {
	BORDER-BOTTOM: #ff5500 1px dashed
}
.admin_table TABLE {
	
}
.admin_table .tr1 {
	
}
.admin_table .tr1:hover .td1 {
	BACKGROUND: #ecf3f9
}
.admin_table .tr1:hover .td3 {
	BACKGROUND: #ecf3f9
}
.admin_table .tr1:hover .td2 {
	BACKGROUND-COLOR: #f4f8fc
}
.admin_table .tr2 TD {
	BORDER-BOTTOM: #dde9f5 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #f5faff; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; COLOR: #008800; PADDING-TOP: 7px
}
.admin_table .tr3 TD {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.admin_table .td1 {
	BORDER-BOTTOM: #dde9f5 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.admin_table .td2 {
	BORDER-BOTTOM: #dde9f5 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.admin_table .td3 {
	BORDER-BOTTOM: #dde9f5 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.admin_table .td1 {
	WIDTH: 80px; BACKGROUND: #f4f8fc; COLOR: #333
}
.admin_table .td3 {
	WIDTH: 80px; BACKGROUND: #f4f8fc; COLOR: #333
}
.admin_table .td2 {
	MIN-WIDTH: 50px
}
.td2_wp {
	WIDTH: 216px; OVERFLOW: hidden
}
.td2_wp A {
	WHITE-SPACE: nowrap; FLOAT: left; MARGIN-RIGHT: 10px
}
.admin_table .td3 {
	WIDTH: 340px
}
.admin_table TD .none {
	DISPLAY: none
}
.admin_table .tdcur .none {
	DISPLAY: inline
}
.admin_table_b {
	WIDTH: 340px
}
.admin_table_b TABLE {
	
}
.admin_table_b TD {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 21px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.admin_table_c {
	WIDTH: 480px
}
.admin_table_c TABLE {
	WIDTH: 100%
}
.admin_table_c TH {
	WIDTH: 50px; FONT-WEIGHT: 100; PADDING-TOP: 1px
}
.admin_table_c TD {
	PADDING-BOTTOM: 10px
}
.zt_style {
	Z-INDEX: 3; BORDER-BOTTOM: #c0dbf8 1px solid; BORDER-LEFT: #c0dbf8 1px solid; WIDTH: 968px; BACKGROUND: #fff; BORDER-TOP: #c0dbf8 1px solid; BORDER-RIGHT: #c0dbf8 1px solid
}
.zt_stylebg {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #e2eefa; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND-POSITION: 0px -290px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 4px
}
.zt_stylebg TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #333; PADDING-TOP: 0px
}
.zt_stylebg .layoutDragElement {
	WIDTH: 35px; FLOAT: left; HEIGHT: 24px; MARGIN-RIGHT: 10px
}
.td_bgA TD {
	BACKGROUND: #f1faff
}
.td_bgB TD {
	BACKGROUND-COLOR: #f5fcff; BACKGROUND-POSITION: 0px -360px
}
.admin_table .td_bgC .td2 {
	BORDER-BOTTOM: #fadbb6 1px solid; BACKGROUND: #fff6e4
}
.admin_table .td_bgC:hover .td2 {
	BORDER-BOTTOM: #fadbb6 1px solid; BACKGROUND: #fff6e4
}
.admin_table .td_bgC .td1 {
	BORDER-BOTTOM: #fadbb6 1px solid; BACKGROUND: #fdedda
}
.admin_table .td_bgC:hover .td1 {
	BORDER-BOTTOM: #fadbb6 1px solid; BACKGROUND: #fdedda
}
.list_A {
	
}
.list_A LI {
	LINE-HEIGHT: 24px; HEIGHT: 22px; OVERFLOW: hidden; CURSOR: default
}
.list_A .current {
	COLOR: #008800
}
.list_B .current {
	COLOR: #008800
}
.list_A INPUT {
	MARGIN-TOP: -3px; MARGIN-RIGHT: 3px
}
.list_B INPUT {
	MARGIN-TOP: -3px; MARGIN-RIGHT: 3px
}
.list_B {
	
}
.list_B LI {
	LINE-HEIGHT: 26px; HEIGHT: 26px; OVERFLOW: hidden
}
.list_C {
	
}
.list_C LI {
	LINE-HEIGHT: 30px; HEIGHT: 30px; OVERFLOW: hidden
}
.list_D {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.list_D LI {
	TEXT-ALIGN: center; WIDTH: 130px; FLOAT: left; HEIGHT: 130px
}
.list_D LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.list_D LI SELECT {
	WIDTH: 68px
}
.list_80 {
	
}
.list_80 LI {
	WIDTH: 80px; FLOAT: left
}
.list_120 {
	WIDTH: 365px
}
.list_120 INPUT {
	
}
.list_120 .input {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 1px; _margin-top: 0
}
.list_120 LI {
	WIDTH: 120px; FLOAT: left
}
.list_160 {
	WIDTH: 365px
}
.list_160 LI {
	WIDTH: 160px; MARGIN-BOTTOM: 5px; FLOAT: left
}
.list_160 .input {
	MARGIN-RIGHT: 5px
}
.list_200 {
	
}
.list_200 LI {
	WIDTH: 200px; FLOAT: left
}
.list_200 LI IMG {
	VERTICAL-ALIGN: middle
}
.add_list {
	BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #b8b8b8 1px solid; MARGIN: 10px; BACKGROUND: #ffffff; HEIGHT: 150px; OVERFLOW: auto; BORDER-TOP: #b8b8b8 1px solid; BORDER-RIGHT: #dedede 1px solid
}
.add_list LI {
	BORDER-BOTTOM: #e4e4e4 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
.add_list LI:hover {
	BACKGROUND: #f7f7f7
}
.add_list LI INPUT {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.tab_A {
	BORDER-BOTTOM: #cbdaea 1px solid; POSITION: relative; MARGIN-BOTTOM: 10px; HEIGHT: 22px
}
.tab_A UL {
	POSITION: absolute; BOTTOM: -1px
}
.tab_A LI {
	FLOAT: left; MARGIN-RIGHT: 1px
}
.tab_A LI A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: #cbdaea 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: #eaf2fa; FLOAT: left; HEIGHT: 22px; FONT-SIZE: 12px; BORDER-TOP: #cbdaea 1px solid; BORDER-RIGHT: #cbdaea 1px solid; PADDING-TOP: 0px
}
.tab_A LI A:hover {
	BACKGROUND: #f1faff; TEXT-DECORATION: none
}
.tab_A .current A {
	BORDER-BOTTOM-COLOR: #cbdaea; LINE-HEIGHT: 23px; BORDER-TOP-COLOR: #cbdaea; BACKGROUND: #f1faff; HEIGHT: 23px; COLOR: #333; BORDER-RIGHT-COLOR: #cbdaea; BORDER-LEFT-COLOR: #cbdaea
}
.tab_A .current A:hover {
	BORDER-BOTTOM-COLOR: #cbdaea; LINE-HEIGHT: 23px; BORDER-TOP-COLOR: #cbdaea; BACKGROUND: #f1faff; HEIGHT: 23px; COLOR: #333; BORDER-RIGHT-COLOR: #cbdaea; BORDER-LEFT-COLOR: #cbdaea
}
.search_dl {
	BORDER-BOTTOM: #dde9f5 1px solid; PADDING-BOTTOM: 15px; LINE-HEIGHT: 1.4; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
.search_dl DT {
	PADDING-BOTTOM: 5px
}
.search_dl DD {
	PADDING-LEFT: 2em
}
.mode_list {
	FLOAT: left
}
.mode_list DT {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.mode_list DT IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
.mode_list DD {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
.mode_list DD P {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.expand {
	TEXT-INDENT: -2000em; MARGIN: 5px 5px 0px 0px; WIDTH: 11px; DISPLAY: block; FLOAT: left; HEIGHT: 11px; OVERFLOW: hidden; CURSOR: pointer
}
.expand_a {
	BACKGROUND-POSITION: -60px -30px
}
.expand_b {
	BACKGROUND-POSITION: -80px -30px
}
.expand_c {
	BACKGROUND-POSITION: -100px -30px
}
.expand_d {
	BACKGROUND-POSITION: -120px -30px; CURSOR: default
}
.expand_e {
	
}
.hide {
	TEXT-INDENT: -2000em; MARGIN: 7px 0px 0px 5px; WIDTH: 10px; DISPLAY: block; BACKGROUND-POSITION: -140px -30px; FLOAT: left; HEIGHT: 10px; OVERFLOW: hidden; CURSOR: pointer
}
.hide_a {
	BACKGROUND-POSITION: -155px -30px
}
.lower {
	MARGIN: 1px 10px 0px 5px; WIDTH: 24px; BACKGROUND-POSITION: -24px -50px; FLOAT: left; HEIGHT: 21px; OVERFLOW: hidden
}
.lower_a {
	BACKGROUND-POSITION: -48px -50px
}
.lower_b {
	BACKGROUND-POSITION: 0px -50px
}
.del_img {
	MARGIN-TOP: 4px; TEXT-INDENT: -2000em; WIDTH: 17px; DISPLAY: block; BACKGROUND-POSITION: 0px -80px; HEIGHT: 17px; OVERFLOW: hidden
}
.del_img:hover {
	BACKGROUND-POSITION: -17px -80px
}
.cond {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 508px; BACKGROUND: #ffffff; OVERFLOW: hidden; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.cond_l {
	MIN-HEIGHT: 200px; WIDTH: 105px; MARGIN-BOTTOM: -1px; BACKGROUND: #ebebeb; FLOAT: left; BORDER-RIGHT: #cbcbcb 1px solid; _height: 200px
}
.cond_l LI {
	BORDER-BOTTOM: #cbcbcb 1px solid; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; DISPLAY: block; HEIGHT: 30px; OVERFLOW: hidden; CURSOR: pointer
}
.cond_l LI A {
	LINE-HEIGHT: 30px; PADDING-LEFT: 10px; HEIGHT: 30px; COLOR: #666666; OVERFLOW: hidden
}
.cond_l LI A:hover {
	COLOR: #336699; TEXT-DECORATION: none
}
.cond_l INPUT {
	MARGIN: 8px 5px 0px 0px; FLOAT: left; VERTICAL-ALIGN: middle
}
.cond_l .current {
	WIDTH: 96px; BACKGROUND: #fff; MARGIN-RIGHT: -1px
}
.cond_r {
	WIDTH: 400px; FLOAT: left
}
.cond_r_height {
	PADDING-BOTTOM: 2px; MIN-HEIGHT: 140px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px; _height: 140px
}
.popoutContent .admin_table TABLE {
	TABLE-LAYOUT: auto
}
.popoutContent {
	BORDER-BOTTOM: #76a9dc 1px solid; BORDER-LEFT: #76a9dc 1px solid; BACKGROUND: #ffffff; BORDER-TOP: #76a9dc 1px solid; BORDER-RIGHT: #76a9dc 1px solid
}
.bgcorner1 {
	Z-INDEX: 1005; FILTER: Alpha(opacity=39); LINE-HEIGHT: 0; OVERFLOW: hidden; opacity: .39
}
.bgcorner2 {
	Z-INDEX: 1005; FILTER: Alpha(opacity=39); LINE-HEIGHT: 0; OVERFLOW: hidden; opacity: .39
}
.bgcorner3 {
	Z-INDEX: 1005; FILTER: Alpha(opacity=39); LINE-HEIGHT: 0; OVERFLOW: hidden; opacity: .39
}
.bgcorner4 {
	Z-INDEX: 1005; FILTER: Alpha(opacity=39); LINE-HEIGHT: 0; OVERFLOW: hidden; opacity: .39
}
.pobg1 {
	Z-INDEX: 1005; FILTER: Alpha(opacity=39); LINE-HEIGHT: 0; OVERFLOW: hidden; opacity: .39
}
.pobg2 {
	Z-INDEX: 1005; FILTER: Alpha(opacity=39); LINE-HEIGHT: 0; OVERFLOW: hidden; opacity: .39
}
.pobg3 {
	Z-INDEX: 1005; FILTER: Alpha(opacity=39); LINE-HEIGHT: 0; OVERFLOW: hidden; opacity: .39
}
.pobg4 {
	Z-INDEX: 1005; FILTER: Alpha(opacity=39); LINE-HEIGHT: 0; OVERFLOW: hidden; opacity: .39
}
.bgcorner1 {
	WIDTH: 5px; BACKGROUND: #5692ce; HEIGHT: 5px
}
.bgcorner2 {
	WIDTH: 5px; BACKGROUND: #5692ce; HEIGHT: 5px
}
.bgcorner3 {
	WIDTH: 5px; BACKGROUND: #5692ce; HEIGHT: 5px
}
.bgcorner4 {
	WIDTH: 5px; BACKGROUND: #5692ce; HEIGHT: 5px
}
.pobg1 {
	BACKGROUND: #5692ce
}
.pobg2 {
	BACKGROUND: #5692ce
}
.pobg3 {
	BACKGROUND: #5692ce
}
.pobg4 {
	BACKGROUND: #5692ce
}
.pobg1 {
	HEIGHT: 5px
}
.pobg2 {
	WIDTH: 5px
}
.pobg3 {
	HEIGHT: 5px
}
.pobg4 {
	WIDTH: 5px
}
.menu {
	BORDER-BOTTOM: #94c7e4 1px solid; POSITION: absolute; BORDER-LEFT: #94c7e4 1px solid; BACKGROUND: #fff; BORDER-TOP: #94c7e4 1px solid; BORDER-RIGHT: #94c7e4 1px solid
}
.menu_bg {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND: #eff8ff; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.menu_bg UL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.menu_bg UL LI {
	LINE-HEIGHT: 25px; HEIGHT: 25px; OVERFLOW: hidden
}
.menu_level {
	BORDER-BOTTOM: #acd6ef 5px solid; BORDER-LEFT: #acd6ef 5px solid; WIDTH: 400px; BORDER-TOP: #acd6ef 5px solid; BORDER-RIGHT: #acd6ef 5px solid
}
.leve {
	PADDING-BOTTOM: 15px; OVERFLOW-Y: scroll; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #ffffff; HEIGHT: 300px; PADDING-TOP: 15px
}
.leve LI {
	LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none; WIDTH: 45%; FLOAT: left; HEIGHT: 30px; LIST-STYLE-IMAGE: none
}
.leve IMG {
	WIDTH: 80px; MARGIN-LEFT: 2em; CURSOR: pointer; MARGIN-RIGHT: 8px
}
.tip_wind {
	BORDER-BOTTOM: #c2e4ff 5px solid; POSITION: absolute; BORDER-LEFT: #c2e4ff 5px solid; WIDTH: 420px; BACKGROUND: #f7fcff; BORDER-TOP: #c2e4ff 5px solid; BORDER-RIGHT: #c2e4ff 5px solid
}
.tip_wind DT {
	MARGIN: 20px 15px 20px 40px; WIDTH: 42px; DISPLAY: inline; BACKGROUND-POSITION: -170px -30px; FLOAT: left; HEIGHT: 42px; OVERFLOW: hidden
}
.tip_wind DD {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 15px; FLOAT: left; PADDING-TOP: 15px
}
.tip_wind DD H4 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; FONT-SIZE: 14px; FONT-WEIGHT: 700; PADDING-TOP: 5px
}
.pwnew SPAN {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.pwnew A {
	BORDER-BOTTOM: #cae2f2 1px solid; BORDER-LEFT: #cae2f2 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; FONT-FAMILY: Verdana, Geneva, sans-serif; BACKGROUND: #fff; FLOAT: left; HEIGHT: 19px; COLOR: #333333; BORDER-TOP: #cae2f2 1px solid; CURSOR: pointer; FONT-WEIGHT: 100; BORDER-RIGHT: #cae2f2 1px solid; PADDING-TOP: 0px
}
.pwnew A:hover {
	BORDER-BOTTOM: #336699 1px solid; BORDER-LEFT: #336699 1px solid; BACKGROUND: #336699; COLOR: #ffffff; BORDER-TOP: #336699 1px solid; BORDER-RIGHT: #336699 1px solid; TEXT-DECORATION: none
}
.pwnew .one {
	BORDER-BOTTOM: #336699 1px solid; BORDER-LEFT: #336699 1px solid; BACKGROUND: #336699; COLOR: #ffffff; BORDER-TOP: #336699 1px solid; BORDER-RIGHT: #336699 1px solid
}
.pwnew .one:hover {
	BORDER-BOTTOM: #336699 1px solid; BORDER-LEFT: #336699 1px solid; BACKGROUND: #336699; COLOR: #ffffff; BORDER-TOP: #336699 1px solid; BORDER-RIGHT: #336699 1px solid
}
.pwnew .two {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 14px; BACKGROUND: url($imgpath/menu-down.gif) no-repeat right center; CURSOR: pointer; PADDING-TOP: 0px
}
.pwnew .two:hover {
	BORDER-BOTTOM: #cae2f2 1px solid; BORDER-LEFT: #cae2f2 1px solid; BACKGROUND-COLOR: #cae7fb; BORDER-TOP: #cae2f2 1px solid; BORDER-RIGHT: #cae2f2 1px solid
}
.pwnew .two IMG {
	PADDING-TOP: 1px
}
.pwnew #color_show {
	BORDER-BOTTOM: #cae2f2 1px solid; BORDER-LEFT: #cae2f2 1px solid; WIDTH: 30px; BACKGROUND: #ffffff; FLOAT: left; HEIGHT: 19px; BORDER-TOP: #cae2f2 1px solid; CURSOR: pointer; BORDER-RIGHT: #cae2f2 1px solid
}
.bottom {
	PADDING-BOTTOM: 10px; MARGIN: 15px 5px 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FONT-FAMILY: Verdana, Geneva, sans-serif; FONT-SIZE: 10px; BORDER-TOP: #cbdaea 1px solid; PADDING-TOP: 10px
}
.s1 {
	COLOR: #ff0000
}
.s2 {
	COLOR: #ff5500
}
.s3 {
	COLOR: #008800
}
.s4 {
	COLOR: #336699
}
.s5 {
	COLOR: #333333
}
.gray {
	COLOR: #999999
}
