<!DOCTYPE>
<html>
<head>
    <title></title>
</head>
<body>


<table border="1" >
	<tr>
		<th>准考证号</th>
		<th>报名序号</th>
		<th>身份证</th>
		<th>姓名</th>
		<th>性别</th>
		<!-- <th>民族</th> -->
		<!-- <th>出生日期</th> -->
		<!-- <th>政治面貌</th> -->
		<!-- <th>会考证号</th> -->
		<!-- <th>高考证号</th> -->
		<!-- <th>电子邮件</th> -->
		<th>手机号</th>
		<th>家庭电话</th>
		<!-- <th>通信地址</th> -->
		<!-- <th>邮编</th> -->
		<!-- <th>毕业中学</th> -->
		<!-- <th>中学地址</th> -->
		<!-- <th>中学邮编</th> -->
		<!-- <th>中学联系人</th> -->
		<!-- <th>联系人电话</th> -->
		<!-- <th>中学电话</th> -->
		<th>选考科目1</th>
		<th>选考科目2</th>
		<th>选考科目3</th>
        <!-- <th>思想政治</th> -->
		<!-- <th>历史</th> -->
		<!-- <th>地理</th> -->
		<!-- <th>物理</th> -->
		<!-- <th>化学</th> -->
		<!-- <th>生物</th> -->
		<!-- <th>技术</th> -->
		<!-- <th>语文</th> -->
		<!-- <th>数学</th> -->
		<!-- <th>英语</th> -->
		<!-- <th>国家级获奖</th> -->
		<!-- <th>省级获奖</th> -->
		<!-- <th>市级获奖</th> -->
        <!-- <th>其他获奖</th> -->
		<!-- <th>材料ems</th> -->
		<!-- <th>是否缴费</th> -->
		<!-- <th>大类选择</th> -->
    </tr>
    <volist name="u" id="vo"> 
    <tr>
        <td>{$vo['izkzh']}</td>
		<td>{$imajor[$vo['icmajor']]}&nbsp;2018{:sprintf("%04d",$vo['iid'])}</td>
        <td>&nbsp;{$vo['iname']}</td>
        <td>{$vo['ixm']}</td>
        <td>{$vo['ixb']}</td>
        <!-- <td>{$vo['imz']}</td> -->
        <!-- <td>{$vo['icssj']}</td> -->
        <!-- <td>{$vo['izzmm']}</td> -->
        <!-- <td>{$vo['ihkzh']}</td> -->
        <!-- <td>{$vo['ighxh']}</td> -->
        <!-- <td>{$vo['iemail']}</td> -->
        <td>{$vo['imobile']}</td>
        <td>{$vo['itel']}</td>
        <!-- <td>{$vo['iaddr']}</td> -->
        <!-- <td>{$vo['iybcode']}</td> -->
        <!-- <td>{$vo['ibyzx']}</td> -->
        <!-- <td>{$vo['ibyaddr']}</td> -->
        <!-- <td>{$vo['ibycode']}</td> -->
        <!-- <td>{$vo['ibyteac']}</td> -->
        <!-- <td>{$vo['ibytetel']}</td> -->
        <!-- <td>{$vo['ibytel']}</td> -->
        <td>{$majorn[$vo['ibkkm1']]}</td>
        <td>{$majorn[$vo['ibkkm2']]}</td>
        <td>{$majorn[$vo['ibkkm3']]}</td>
        <!-- <td>{$vo['iasz']}</td> -->
        <!-- <td>{$vo['ials']}</td> -->
        <!-- <td>{$vo['iadl']}</td> -->
        <!-- <td>{$vo['iawl']}</td> -->
        <!-- <td>{$vo['iahx']}</td> -->
        <!-- <td>{$vo['iasw']}</td> -->
        <!-- <td>{$vo['iajs']}</td> -->
        <!-- <td>{$vo['iayw']}</td> -->
        <!-- <td>{$vo['iasx']}</td> -->
        <!-- <td>{$vo['iayy']}</td> -->
        <!-- <td>{$vo['isczm2']}</td> -->
        <!-- <td>{$vo['isczm3']}</td> -->
        <!-- <td>{$vo['isczm4']}</td> -->
        <!-- <td>{$vo['isczm5']}</td> -->
        <!-- <td>{$vo['iems']}</td> -->
        <!-- <td>{$vo['istat']}</td> -->
        <!-- <td>{$vo['icsmajor']}</td> -->
    </tr>
    </volist>
</table>
</body>
</html>

