<volist name="adminlist" id="vo">
{$vo.id}&nbsp&nbsp
{$vo.iname}&nbsp&nbsp
{$vo.ipwd}&nbsp&nbsp
{$vo.ixm}&nbsp&nbsp
{$vo.itype}&nbsp&nbsp
{$vo.itime}&nbsp&nbsp
{$vo.itxt}&nbsp&nbsp
{$vo.iphone}&nbsp<br>
</volist>
	<script>
function bs(){
var f=document.discuss
if(f.iname.value.length==0){alert("用户名不能为空！");f.iname.focus();return false}
if(f.ipwd.value.length==0){alert("密码不能为空！");f.ipwd.focus();return false}
if(f.ixm.value.length==0){alert("真实姓名为空！");f.ipwd.focus();return false}
if(f.iphone.value.length==0){alert("联系电话不能为空！");f.ipwd.focus();return false}
//if(f.GetCode.value.length!=4){alert("验证码不正确！");f.GetCode.focus();return false}
}
</script>

<form name="discuss" method="post"   action="{:U('edit')}">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="login_WH">
        <tr>
          <td valign="middle" class="style6"></td>
          <td valign="middle" class="style7"></td>
        </tr>
        <tr>
          <td valign="middle" class="style4">用户名：</td>
          <td valign="middle" class="style1"><input name="iname" type="text" class="input"   readonly="readonly" value="{$info['iname']}" /></td>
        </tr>
        <tr>
          <td valign="middle" class="style4">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
          <td valign="middle" class="style1"><input name="ipwd" type="text"  class="input"  value="{$info['ipwd']}"/></td>
        </tr>
         <tr>
          <td valign="middle" class="style4">真实姓名:</td>
          <td valign="middle" class="style1"><input name="ixm" type="text" class="input"   value="{$info['ixm']}"/></td>
        </tr>
         <tr>
          <td valign="middle" class="style4">联系电话：</td>
          <td valign="middle" class="style1"><input name="iphone" type="text" class="input"  value="{$info['iphone']}" /></td>
        </tr>
         <tr>
          <td valign="middle" class="style4">每页显示个数：</td>
          <td valign="middle" class="style1"><input name="ipagesize" type="text" class="input"  value="{$info['ipagesize']}" /></td>
        </tr>
        <tr>
          <td valign="top" class="style3">　</td>
          <td valign="top" style="text-align:left; padding-left:50px;">&nbsp;
            <input  type="submit" name="ImageButton1" id="ImageButton1" style="border-width:0px;" onClick="return bs();" value="修改" /></td>
        </tr>  
      </table>
    </form>
