<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Xenon Boostrap Admin Panel" />
        <meta name="author" content="" />
        <title>浙江农林大学三位一体报名后台系统</title>
        <link rel="stylesheet" href="__PUBLIC__/assets/css/400700.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/fonts/linecons/css/linecons.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/fonts/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/xenon-core.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/xenon-forms.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/xenon-components.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/xenon-skins.css">
        <link rel="stylesheet" href="__PUBLIC__/assets/css/custom.css">wn 
        <script src="__PUBLIC__/assets/js/jquery-1.11.1.min.js"></script>
    </head>
    <body class="page-body login-page login-light">
        <div style="position:absolute; left:0; top:0; width:100%; height:100%"><img src="__PUBLIC__/images/2222.jpg" width=100% height=100%></div> 
        <div style="position:absolute;">  </div> 
        <div class="showarea">
            <div class="login-container">
                <div class="row">
                    <div class="col-sm-6">
                        <script type="text/javascript">
                            jQuery(document).ready(function($){
                                // Reveal Login form
                                    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
                                    // Validation and Ajax action
                                    $("form#login").validate(
                                        {
                                            rules: {
                                                username: { required: true },
                                passwd: {
                                    required: true
                                },
                                verify:{required: true}
                                            },

                            messages: {
                                username: {
                                    required: '请输入身份证号.'
                                },

                                passwd: {
                                    required: '请输入密码.'
                                },

                                verify: {
                                    required: '请输入验证码.'
                                }
                            },

                                            submitHandler: function(form)
                                            {
                                                show_loading_bar(70); // Fill progress bar to 70% (just a given value)

                                                var opts = {
                                                    "closeButton": true,
                                    "debug": false,
                                    "positionClass": "toast-top-full-width",
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                                };

                                                $.ajax({
                                                    url: "{:U('login_check')}",
                                    method: 'POST',
                                    dataType: 'json',
                                    data: {
                                        do_login: true,
                                        username: $(form).find('#username').val(),
                                        passwd: $(form).find('#passwd').val(),
                                        verify: $(form).find('#verify').val(),
                                    },
                                    success: function(resp)
                                                    {
                                                        show_loading_bar({
                                                            delay: .5,
                                            pct: 100,
                                            finish: function(){

                                                // Redirect after successful login page (when progress bar reaches 100%)
                                                if(resp.accessGranted)
                                                    {
                                                        window.location.href = '{:U('Index/admingl')}';
                                                    }
                                            }
                                                        });


                                                        // Remove any alert
                                                        $(".errors-container .alert").slideUp('fast');


                                                        // Show errors
                                                        if(resp.accessGranted == false)
                                                            {
                                                                $(".errors-container").html('<div class="alert alert-danger">\
                                                                    <button type="button" class="close" data-dismiss="alert">\
                                                                    <span aria-hidden="true">&times;</span>\
                                                                    <span class="sr-only">Close</span>\
                                                                    </button>\
                                                                    ' + resp.errors + '\
                                                                    </div>');

                                            var srcc ="{:U('verifyImg')}";
                                                                $("#verifyimg").attr("src",srcc);

                                                                $(".errors-container .alert").hide().slideDown();
                                                                $(form).find('#passwd').select();
                                                            }
                                                    }
                                                });

                            }
                        });

                        // Set Form focus
                        $("form#login .form-group:has(.form-control):first .form-control").focus();
                    });
                        </script>
                        <!-- Errors container -->
                        <div class="errors-container">
                        </div>
                        <!-- Add class "fade-in-effect" for login form effect -->
                        <form method="post" role="form" id="login" class="login-form fade-in-effect ">
                            <div class="login-header">
                                <h3 style="color:#000000;" >浙江农林大学 “三位一体”后台管理系统</h3>
                            </a>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">帐号</label>
                            <input type="text" class="form-control" name="username" id="username" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="passwd">密码</label>
                            <input type="password" class="form-control" name="passwd" id="passwd" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="verify">验证码</label>
                            <input type="text" name="verify" id="verify" class="form-control"  />
                            <td height="16" style="text-align:left; " width="61%"><img id="verifyimg" src="{:U('verifyImg')}" class="verifyimg reloadverify" style="vertical-align:middle; cursor: pointer;"></td>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary  btn-block text-left">
                                <i class="fa-lock"></i>
                                登录
                            </button>
                        </div>
                    </form>
                </div>
            </div>	
        </div>
        <!-- Bottom Scripts -->
        <script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/assets/js/TweenMax.min.js"></script>
        <script src="__PUBLIC__/assets/js/resizeable.js"></script>
        <script src="__PUBLIC__/assets/js/joinable.js"></script>
        <script src="__PUBLIC__/assets/js/xenon-api.js"></script>
        <script src="__PUBLIC__/assets/js/xenon-toggles.js"></script>
        <script src="__PUBLIC__/assets/js/jquery-validate/jquery.validate.min.js"></script>
        <script src="__PUBLIC__/assets/js/toastr/toastr.min.js"></script>
        <!-- JavaScripts initializations and stuff -->
        <script src="__PUBLIC__/assets/js/xenon-custom.js"></script>
    </body>
</html>
